[Unit]
Description=Show cryptographic identities on boot
DefaultDependencies=no
After=systemd-vconsole-setup.service
After=tmp.mount
Before=initrd-switch-root.service
Requires=systemd-vconsole-setup.service
Wants=tmp.mount

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=+/usr/bin/mkdir -p /tmp/cryptographic_id
ExecStartPre=+/usr/bin/mount -t tmpfs none /tmp/cryptographic_id
ExecStart=-/usr/bin/sh /usr/lib/cryptographic_id/show_identities /etc/cryptographic_id/initramfs
ExecStartPost=+/usr/bin/umount /tmp/cryptographic_id

StandardInput=tty
StandardOutput=tty
StandardError=tty
TimeoutStartSec=10min

IPAddressDeny=any
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateNetwork=true
ProtectClock=true
ProtectHostname=true
RemoveIPC=true
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native

[Install]
WantedBy=sysinit.target
